@import url('https://fonts.googleapis.com/css?family=Montserrat');

#navigator {
    background-color: whitesmoke;
    color: black;
    height: 3em;
    width: 100%;
    font-size: 16px;
    font-family: montserrat;
    position: fixed;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;   
}

.a{
    text-decoration: none;
    color: rgb(0,0,0);
}

.na_li{
    width: 10rem;
    height: 3rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.active{
    background: rgb(220,220,220);
    border-radius: 0.1px;
}

.na_li:hover{
    background: rgb(200,200,200);
}

#team_profile{
    position: relative;
}

#it_technologies{
    position: relative;
}

#sub_menu_team_profile, .sub_menu_it_technologies{
    display: none;
}

.na_li:hover #sub_menu_team_profile{
    display: inline;
    position: absolute;
    top: 3rem;
    width: 100%;
    background: whitesmoke;
    
}

.na_li:hover .sub_menu_it_technologies{
    display: inline;
    position: absolute;
    width: 100%;
    top: 3rem;
    background: whitesmoke;
}

#sub_menu_personal_information{
    display: none;
}

#personal_information:hover #sub_menu_personal_information{
    display: block;
    position: absolute;
    width: 10rem;
    top: 3rem;
    left: 10rem;
    background-color: whitesmoke;
}

.sub_menu_item{
    padding: 0.5rem 0 rem 0rem 0.5rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_menu_item:hover{
    background: rgb(200,200,200);
}

.sub_menu_item_text{
    text-align:center
}

#body{
    background-color: black;
}

#fixed_body {
    /* background-color: green; */
    position: absolute;
    top: 5em;
    width:100%;
    display: flex;
    flex-direction: column;
}


#it_work {
    /* background-color: blue; */
    color: white;
    height: 5rem;
    width: 100%;
    margin-top: 5rem;
    font-family: montserrat;
    font-size: 5rem;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

#paras{
    color: white;
    font-family: montserrat;
    font-size: 2rem;
    padding: 2rem 7rem 7rem 7rem;
}

